{% extends 'tugas/halaman_tugas_anggota.html' %}
{% load gravatar %}

{% block title %}
{{ lmbr.nomor }} | Aplikasi PERK
{% endblock %}

{% block ruas_dua %}
<a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="section">Tugas</a>
<i class="right chevron icon divider"></i>
{% endblock %}

{% block ruas_tiga %}
    <div class="active section">{{ lmbr.nama }}</div>
{% endblock %}

{% block kontainer %}
    <div class="ui fluid teal card">
        <div class="content">
            {% block gambar %}
            <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ lmbr.pemberi.email|hash_email }}?d=retro&f=y"> {{ lmbr.pemberi.get_full_name|default:lmbr.pemberi.username }}
            {% endblock %}
        </div>

        <div class="content">
            <div class="header">{{ lmbr.nomor }}</div>
            <div class="meta">{{ lmbr.tanggal|date:'d F Y' }}</div>

            <div class="description">
                <p>
                    {{ lmbr.isi|safe }}
                </p>
            </div>
        </div>

        {% block ekstra_li %}
        {% if is_exist %}
        <div class="extra content">
            <div class="ui horizontal relaxed list">
                {% for ws in kerja %}
                <div class="item">
                    <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ ws.penerima.email|hash_email }}?d=retro&f=y">

                    <div class="content">
                        <a href="{% url 'halaman_lk_anggota_rinci' slug=ws.nomor|slugify pk=ws.pk keg=pk li=lmbr.pk %}" class="header">{{ ws.nomor }}</a>
                        <div class="description">
                            {{ ws.butir }}
                        </div>
                    </div>
                </div>
                {% empty %}
                    <div class="item">Laporan pendukung masih kosong.</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock %}
        <div class="content">
            <div class="right floated meta">
                {% block tombol_kembali %}
                <a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="ui icon tiny button" title=" kembali ">
                    <i class="reply icon"></i>
                </a>
                {% endblock %}

                {% block tombol_cetak %}
                <a href="{% url 'halaman_li_anggota_rinci_cetak' slug=lmbr.nomor|slugify pk=lmbr.pk keg=pk %}" class="ui icon basic tiny button" title=" lihat ">
                    <i class="unhide icon"></i>
                </a>
                {% endblock %}

                {% block tombol_aksi %}
                <a href="{% url 'halaman_ubah_li_anggota' slug=lmbr.nomor|slugify keg=pk kode=kode_tugas li=lmbr.pk %}" class="ui icon basic tiny button" title=" ubah ">
                    <i class="pencil icon"></i>
                </a>

                <div href="" class="ui icon top right pointing dropdown primary tiny button">
                    <i class="plus icon"></i>
                    <div class="menu">
                        <a class="item">
                            Lembar Kerja
                        </a>
                        <a class="item">
                            Logbook
                        </a>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}