{% extends 'master/base.html' %}
{% load staticfiles %}

{% block title %}
Tugas | Aplikasi PERK
{% endblock %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui fluid container">
        {% block kontainer %}
        <div class="gap"></div>
        <h2 class="ui center aligned icon header">
            <i class="circular calendar icon"></i>
            PENUGASAN
        </h2>
        <div class="gap"></div>

        <div class="ui four stackable cards">
            {% for ins in instruksi %}
            <div class="ui raised card">
                <div class="content">
                    <div class="header">{{ ins.nama }}</div>
                    <div class="meta">
                        <span class="right floated time">{{ ins.tanggal }}</span>
                        <span class="category">{{ ins.pemberi.first_name|default:ins.pemberi.username }}</span>
                    </div>

                    <div class="description">
                        <div class="ui list">
                            <div class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Nomor</div>
                                    <div class="description" style="word-break: break-all;">
                                        {{ ins.nomor }}
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Referensi</div>
                                    <div class="description" style="word-break: break-all;">
                                        {{ ins.referensi }}
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Butir</div>
                                    <div class="description">
                                        {{ ins.butir }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% load gravatar %}
                <div class="extra content">
                    <div class="author">
                        <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ ins.penerima.email|hash_email }}?d=retro&f=y"> {{ ins.penerima.first_name|default:ins.penerima.username }}
                    </div>
                    <a href="{% url 'halaman_tugas_anggota_rinci' slug=ins.nomor|slugify pk=ins.pk keg=pk%}" class="ui orange right ribbon label">Masuk</a>
                    <div class="gap"></div>
                </div>
            </div>
            {% empty %}
            <div class="ui card" style="width: 100%;">
                <div class="ui message">
                    <div class="header">
                        NIHIL
                    </div>
                    <p>
                        Lembar instruksi masih kosong
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>
{% endblock %}
{% block js %}

{% endblock %}
{% if '/tugas/' in request.path %}
    {% block menu_tombol %}
    <div class="ui simple dropdown item">
        TUGAS
        <i class="settings icon"></i>
        <div class="menu">
            <a class="item"><i class="plus icon"></i>Lembar Instruksi <div class="ui red horizontal label">{{ instruksi|length }}</div></a>
            <a class="item"><i class="plus icon"></i>Lembar Kerja <div class="ui red horizontal label">{{ kerja|length }}</div></a>
            <a class="item"><i class="plus chart icon"></i>Technical Note <div class="ui red horizontal label">-</div></a>
            <a class="item"><i class="plus outline icon"></i>Logbook <div class="ui red horizontal label">-</div></a>
        </div>
    </div>
    {% endblock %}

    {% block menu_tombol_mobile %}
        <div class="item">
            <i class="left dropdown icon"></i>
            Tugas
            <div class="menu" style="left: -100px !important;">
                <a class="item"><i class="plus icon"></i>Lembar Instruksi <div class="ui red horizontal label">{{ instruksi|length }}</div></a>
                <a class="item"><i class="plus icon"></i>Lembar Kerja <div class="ui red horizontal label">{{ kerja|length }}</div></a>
                <a class="item"><i class="plus chart icon"></i>Technical Note <div class="ui red horizontal label">-</div></a>
                <a class="item"><i class="plus outline icon"></i>Logbook <div class="ui red horizontal label">-</div></a>
            </div>
        </div>
    {% endblock %}
{% endif %}