{% extends 'master/cetak.html' %}
{% load staticfiles %}
{% load peran_terkait %}

{% block title %}
    {{ lmbr.nama }} {{ lmbr.nomor }}
{% endblock %}

{% block style %}
<style>
    * {overflow: visible !important;}
    @media print {
        footer{
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<table class="ui celled structured compact table">
    <tbody>
        <tr>
            <td rowspan="4" class="center aligned">
                <img src="{% static 'logo_bppt.png' %}" alt="logo BPPT" class="ui centered tiny image">
            </td>
            <td class="center aligned">
                <h2 class="ui {% block warna_header %}brown{% endblock %} header">{{ lmbr.nama|upper }}</h2>
            </td>
            <td colspan="2">
                {% block penerima_lk %}{{ lmbr.pemberi|ambil_peran_tertentu:'long' }}{% endblock %}
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="center aligned">
                <h3 class="ui header">
                    <div class="sub header">Program</div>
                    {{ kegiatan.nama }}
                </h3>
            </td>
            <td style="font-size: 0.8em;">No.</td>
            <td style="word-break: break-all; font-size: 0.8em;">{{ lmbr.nomor }}</td>
        </tr>

        <tr>
            <td style="font-size: 0.8em;">Ref.</td>
            <td style="word-break: break-all; font-size: 0.8em;">{{ lmbr.referensi }}</td>
        </tr>

        <tr>
            <td>
                <h3 class="ui centered header">
                    <div class="sub header">{{ lmbr.pemberi|ambil_peran_tertentu:'wbs_wp' }}</div>
                    {{ lmbr.pemberi|ambil_peran_tertentu:'wbs_wp_nama' }}
                </h3>
            </td>
            <td colspan="2">
                {{ lmbr.tanggal|date:'d F Y' }}
            </td>
        </tr>

        <tr>
            <td colspan="4">
               No. Butir Kegiatan: {{ lmbr.butir }}
            </td>
        </tr>
    </tbody>
</table>
<p>
    {{ lmbr.isi|safe }}
</p>
<footer>
<table class="ui celled structured compact table">
    <tr>
        <td colspan="2">Dari:</td>
        <td colspan="2">{% block diperiksa %}Kepada:{% endblock %}</td>
    </tr>

    <tr>
        <td>Nama</td>
        <td>
            {% block dari %}{{ lmbr.pemberi.get_full_name }}{% endblock %}
        </td>

        <td>Nama</td>
        <td>
            {% block pemeriksa %}{{ lmbr.penerima.get_full_name }}{% endblock %}
        </td>
    </tr>

    <tr>
        <td>Peran</td>
        <td>
            {% block peran_dari %}{{ lmbr.pemberi|ambil_peran_tertentu:'long' }}{% endblock %}
        </td>

        <td>Peran</td>
        <td>
            {% block peran_pemeriksa %}{{ lmbr.penerima|ambil_peran_tertentu:'long' }}{% endblock %}
        </td>
    </tr>

    <tr>
        <td>Ttd</td>
        <td>
            <br><br>
        </td>

        <td>Ttd</td>
        <td>
            <br><br>
        </td>
    </tr>
</table>
</footer>
{% endblock %}