{% extends 'tugas/halaman_li_anggota_rinci.html' %}

{% block tombol_kembali %}
<a href="{% url 'halaman_li_anggota_rinci' slug=lmbr.nomor|slugify pk=li keg=pk %}" class="ui icon tiny button" title=" kembali ">
    <i class="reply icon"></i>
</a>
{% endblock %}

{% block tombol_cetak %}
<a href="{% url 'halaman_lk_anggota_rinci_cetak' slug=lmbr.nomor|slugify pk=lmbr.pk keg=pk %}" class="ui icon basic tiny button" title=" lihat ">
    <i class="unhide icon"></i>
</a>

{% block tombol_aksi %}
{% endblock %}
{% endblock %}