{% extends 'tugas/halaman_li_anggota_rinci.html' %}
{% load gravatar %}
{% load staticfiles %}
{% load peran_terkait %}
{% load jenjang_terkait %}
{% load li_terkait %}

{% block title %}
{% if 'IS' in request.path %}Rekam Data LI{% elif 'WS' in request.path %}Rekam Data LK{% elif 'LB' in request.path %}Rekam Data LB{% endif %} | Aplikasi PERK
{% endblock %}


{% block ruas_tiga %}
    {% if 'IS' in request.path %}
    <div class="active section">Rekam tugas</div>
    {% elif 'WS' in request.path or 'LB' in request.path %}
    <a href="{% url 'halaman_li_anggota_rinci' slug=instruksi.nomor|slugify pk=instruksi.pk keg=pk %}" class="section">{{ instruksi.pk|ambil_li_tertentu }}</a>
    <i class="right chevron icon divider"></i>
    {% endif %}
{% endblock %}

{% block ruas_empat %}
    {% if 'WS' in request.path or 'LB' in request.path %}
    <div class="active section">Rekam tugas</div>
    {% endif %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'zebra/bootstrap.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'zebra/zebra_datepicker.js' %}"></script>
    <script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
    {% if 'IS' in request.path %}
    <script src="{% static 'li.js' %}"></script>
    {% elif 'WS' in request.path or 'LB' in request.path %}
    <script src="{% static 'lk.js' %}"></script>
    {% endif %}
{% endblock %}

{% block kontainer %}
    <div class="ui fluid teal card">
        <div class="content">
            {% block gambar %}
            <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ request.user.email|hash_email }}?d=retro&f=y"> {{ request.user.get_full_name|default:request.user.username }}
            <div class="right floated meta">{{ peran|ambil_peran_tertentu:'long' }}</div>
            {% endblock %}
        </div>

        <div class="content">
            {% if 'IS' in request.path %}
            <div class="header">Rekam Lembar Instruksi</div>
            {% elif 'WS' in request.path %}
            <div class="header">Rekam Lembar Kerja</div>
            {% elif 'LB' in request.path %}
            <div class="header">Rekam Logbook</div>
            {% endif %}

            <div class="description">
                <form {% if 'WS' in request.path %}id="form_ubah"{% endif %} class="ui form" method="post" novalidate>
                    {% csrf_token %}
                    <div class="{% if 'LB' in request.path %}three{% else %}two{% endif %} fields">
                        {% if 'IS' in request.path %}
                        <div class="field {% if formulir.penerima.errors %}error{% endif %}">
                            {% if formulir.penerima.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.penerima.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.penerima.label_tag }}
                            {{ formulir.penerima }}
                        </div>
                        {% elif 'WS' in request.path %}
                        <div class="field {% if formulir.pemberi.errors %}error{% endif %}">
                            {% if formulir.pemberi.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.pemberi.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.pemberi.label_tag }}
                            {{ formulir.pemberi }}
                        </div>
                        {% elif 'LB' in request.path %}
                        <div class="field {% if formulir.pemberi.errors %}error{% endif %}">
                            {% if formulir.pemberi.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.pemberi.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.pemberi.label_tag }}
                            {{ formulir.pemberi }}
                        </div>

                        <div class="field {% if formulir.pemeriksa.errors %}error{% endif %}">
                            {% if formulir.pemeriksa.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.pemeriksa.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.pemeriksa.label_tag }}
                            {{ formulir.pemeriksa }}
                        </div>
                        {% endif %}

                        <div class="field {% if formulir.tanggal.errors %}error{% endif %}">
                            {% if formulir.tanggal.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.tanggal.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.tanggal.label_tag }}
                            <div class="ui icon input">
                                <i class="calendar icon"></i>
                                {{ formulir.tanggal }}
                            </div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field {% if formulir.nomor.errors %}error{% endif %}">
                            {% if formulir.nomor.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.nomor.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.nomor.label_tag }}
                            {{ formulir.nomor }}
                            <div class="gap"></div>
                            <a id="tbl_nmr" class="ui icon button" title=" Gunakan format laporan ">
                                <i class="arrow circle outline up icon"></i>
                            </a>
                            <span id="format" data-value="{{ format.formasi }}"></span>
                            {% if 'IS' in request.path %}
                            <span id="kode_peran_pemberi" data-value="{{ peran|ambil_peran_tertentu:'short'|cut:' ' }}"></span>
                            <span id="kode_peran_penerima" data-value=""></span>
                            {% elif 'WS' in request.path or 'LB' in request.path %}
                            <span id="kode_peran_penerima" data-value="{{ peran|ambil_peran_tertentu:'short'|cut:' ' }}"></span>
                            <span id="kode_peran_pemberi" data-value=""></span>
                            {% endif %}

                            <span id="kegiatan" data-value="{{ kegiatan.pk }}"></span>
                            <span id="kode_kegiatan" data-value="{{ kegiatan.kode }}"></span>
                            <span id="bulan" data-value=""></span>
                            <span id="tahun" data-value=""></span>
                        </div>

                        <div class="field {% if formulir.referensi.errors %}error{% endif %}">
                            {% if formulir.referensi.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.referensi.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.referensi.label_tag }}
                            {{ formulir.referensi }}
                            <div class="gap"></div>
                            {% if 'LB' not in request.path %}
                            <a id="tbl_ref" class="ui icon button" title=" Pilih referensi ">
                                <i class="arrow circle outline up icon"></i>
                            </a>
                            <div id="modal_referensi" class="ui small long modal">
                                <div class="header">Pilih Referensi</div>
                                <div class="content">
                                    <div class="ui form">
                                        <div class="grouped fields">
                                            <label>Referensi:</label>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" name="tugas" value="{{ kegiatan.referensi }}" title="{{ kegiatan.referensi }}">
                                                    <label>{{ kegiatan.referensi }}</label>
                                                </div>
                                            </div>
                                            <div class="gap"></div>

                                            {% for i in li %}
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" name="tugas" value="{{ i.nomor }}" title="{{ i.nomor }}">
                                                    <label>{{ i.nomor }} <b style="color: red;">dari</b> {{ i.pemberi.get_full_name }}</label>
                                                </div>
                                            </div>
                                            <div class="gap"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="actions">
                                    <div class="ui deny button">Oke</div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="gap"></div>
                    <div class="gap"></div>
                    <div class="{% if 'WS' in request.path %}three{% else %}two{% endif %} fields">
                        <div class="field {% if formulir.butir.errors %}error{% endif %}">
                            {% if formulir.butir.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.butir.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.butir.label_tag }}
                            <input type="hidden" name="angka_hid" id="angka_hid" value="">

                            <script>
                                $(document).ready(function(){
                                    var angka_selector = $("input#angka_hid");
                                    var butir_selector = $("input#butir");
                                    var keg = $("span#kegiatan").attr('data-value');

                                    $.get('/tugas/'+butir_selector.val()+'/butir/'+keg+'/', function(nilai){
                                        angka_selector.val(nilai['angka']);
                                    });
                                });
                            </script>

                            <div class="ui action input">
                                {{ formulir.butir }}
                                <a id="tbl_butir" class="ui icon button" title=" Gunakan template ">
                                    <i class="arrow circle outline left icon"></i>
                                </a>
                                <div id="modal_butir" class="ui small modal">
                                    <div class="header">Pilih Butir</div>
                                    <div class="content">
                                        <div class="ui form">
                                            <div class="grouped fields">
                                                <label for="pilih_butir">Butir:</label>
                                                <select id="pilih_butir" class="ui search fluid dropdown">
                                                    <option value="">--- Pilihan Butir ---</option>
                                                    {% for btr in butir %}
                                                    <option value="{{ btr.kodebutir }}">[{{ btr.angka }} - {{ btr.hasil }}] {{ btr.butir }} #{{ btr.pelaksana }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="actions">
                                        <div class="ui deny button">Oke</div>
                                    </div>
                                </div>
                            </div>
                            <div id="label_info" class="ui pointing label"></div>
                        </div>

                        <div class="field {% if formulir.index.errors %}error{% endif %}">
                            {% if formulir.index.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.index.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.index.label_tag }}
                            {{ formulir.index }}
                        </div>

                        {% if 'WS' in request.path %}
                        <div id="kolom_lb" class="field {% if formulir.lb.errors %}error{% endif %}">
                            {% if formulir.lb.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.lb.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.lb.label_tag }}
                            <div class="ui action input">
                                {{ formulir.lb }}
                                <a href="{% url 'halaman_tambah_lb_anggota' slug=instruksi|slugify keg=kegiatan.pk kode='LB' li=instruksi.pk %}" class="ui icon teal button"><i class="plus icon"></i></a>
                            </div>
                            <div class="ui error message"></div>
                        </div>
                        {% if 'ubah' in request.path %}
                        <script>
                        $(document).ready(function(){
                            var kolom = $("div#kolom_lb");
                            var butir = $("input#butir").val();
                            var col = ['II.A.1.a.2).(b)', 'II.A.1.a.4).(a)', 'II.A.1.a.4).(b)', 'II.A.1.a.4).(c)', 'II.A.1.a.6).(c)', 'II.A.1.a.7).(c)', 'II.A.1.a.8).(c)'];

                            if(col.indexOf(butir) == -1)
                            {
                                kolom.hide();
                            }

                            else
                            {
                                kolom.show();
                            }
                        });
                        </script>
                        {% endif %}
                        {% endif %}
                    </div>

                    <div class="field {% if formulir.uraian.errors %}error{% endif %}">
                        {% if formulir.uraian.errors %}
                            <div class="ui error visible message">
                                {% for error in formulir.uraian.errors %}
                                    <div class="header">Ada Kesalahan</div>
                                    <p>{{ error|escape }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ formulir.uraian.label_tag }}
                        {{ formulir.uraian }}
                    </div>
                    <div class="field {% if formulir.isi.errors %}error{% endif %}">
                        {% if formulir.isi.errors %}
                            <div class="ui error visible message">
                                {% for error in formulir.isi.errors %}
                                    <div class="header">Ada Kesalahan</div>
                                    <p>{{ error|escape }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ formulir.isi.label_tag }}
                        {{ formulir.isi }}
                    </div>

                    <input type="submit" class="ui submit primary button" value="Simpan">
                    {% if 'ubah' in request.path %}
                        {% if 'IS' in request.path %}
                        <a id="tbl_hapus" href="" class="ui icon tiny red button" title=" hapus " data-value="{% url 'halaman_hapus_li_anggota' pk=li_tertentu.pk %}">
                            <i class="trash icon"></i>
                        </a>
                        {% elif 'WS' in request.path %}
                        <a id="tbl_hapus" href="" class="ui icon tiny red button" title=" hapus " data-value="{% url 'halaman_hapus_lk_anggota' pk=lk %}">
                            <i class="trash icon"></i>
                        </a>
                        {% elif 'LB' in request.path %}
                        <a id="tbl_hapus" href="" class="ui icon tiny red button" title=" hapus " data-value="">
                            <i class="trash icon"></i>
                        </a>
                        {% endif %}

                        <div id="modal_hapus_li" class="ui small modal">
                            <div class="header">Anda Yakin?</div>
                            <div class="content">
                                <p>
                                    Apakah Anda yakin untuk menghapus <span id="lmbr">Lembar instruksi</span> ini?
                                </p>
                            </div>

                            <div class="actions">
                                <div class="ui positive button">Ya</div>
                                <div class="ui deny button">Tidak</div>
                            </div>
                        </div>

                        <a href="{% url 'halaman_li_anggota_rinci' slug=li_tertentu.nomor|slugify pk=li_tertentu.pk keg=pk %}" class="ui icon tiny button" title=" kembali ">
                            <i class="reply icon"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="ui icon tiny button" title=" kembali ">
                            <i class="reply icon"></i>
                        </a>
                    {% endif %}
                </form>
            </div>
            {% if 'IS' in request.path %}
            <span id="tbl_kembali" data-value="{% url 'halaman_tugas_anggota' pk=pk %}"></span>
            {% elif 'WS' in request.path %}
            <span id="tbl_kembali" data-value="{% url 'halaman_li_anggota_rinci' slug=instruksi.nomor|slugify pk=instruksi.pk keg=pk %}"></span>
            {% endif %}
        </div>
    </div>
{% endblock %}