{% extends 'tugas/halaman_li_anggota_rinci.html' %}
{% load gravatar %}
{% load staticfiles %}
{% load peran_terkait %}
{% load jenjang_terkait %}

{% block title %}
Rekam Data LI | Aplikasi PERK
{% endblock %}

{% block ruas_tiga %}
    <div class="active section">Rekam tugas</div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'zebra/bootstrap.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'zebra/zebra_datepicker.js' %}"></script>
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'li.js' %}"></script>
{% endblock %}

{% block kontainer %}
    <div class="ui fluid teal card">
        <div class="content">
            {% block gambar %}
            <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ request.user.email|hash_email }}?d=retro&f=y"> {{ request.user.get_full_name|default:request.user.username }}
            <div class="right floated meta">{{ peran|ambil_peran_tertentu:'long' }}</div>
            {% endblock %}
        </div>

        <div class="content">
            <div class="header">Rekam Lembar Instruksi</div>

            <div class="description">
                <form class="ui form" method="post">
                    {% csrf_token %}
                    <div class="two fields">
                        <div class="field {% if formulir.penerima.errors %}error{% endif %}">
                            {% if formulir.penerima.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.penerima.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.penerima.label_tag }}
                            {{ formulir.penerima }}
                        </div>

                        <div class="field {% if formulir.tanggal.errors %}error{% endif %}">
                            {% if formulir.tanggal.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.tanggal.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.tanggal.label_tag }}
                            <div class="ui icon input">
                                <i class="calendar icon"></i>
                                {{ formulir.tanggal }}
                            </div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field {% if formulir.nomor.errors %}error{% endif %}">
                            {% if formulir.nomor.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.nomor.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.nomor.label_tag }}
                            {{ formulir.nomor }}
                            <div class="gap"></div>
                            <a id="tbl_nmr" class="ui icon button" title=" Gunakan format laporan ">
                                <i class="arrow circle outline up icon"></i>
                            </a>
                            <span id="format" data-value="{{ format.formasi }}"></span>
                            <span id="kode_peran_pemberi" data-value="{{ peran|ambil_peran_tertentu:'short'|cut:' ' }}"></span>
                            <span id="kode_peran_penerima" data-value=""></span>
                            <span id="kegiatan" data-value="{{ kegiatan.pk }}"></span>
                            <span id="kode_kegiatan" data-value="{{ kegiatan.kode }}"></span>
                            <span id="bulan" data-value=""></span>
                            <span id="tahun" data-value=""></span>
                        </div>

                        <div class="field {% if formulir.referensi.errors %}error{% endif %}">
                            {% if formulir.referensi.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.referensi.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.referensi.label_tag }}
                            {{ formulir.referensi }}
                            <div class="gap"></div>
                            <a id="tbl_ref" class="ui icon button" title=" Pilih referensi ">
                                <i class="arrow circle outline up icon"></i>
                            </a>
                            <div id="modal_referensi" class="ui small long modal">
                                <div class="header">Pilih Referensi</div>
                                <div class="content">
                                    <div class="ui form">
                                        <div class="grouped fields">
                                            <label>Referensi:</label>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" name="tugas" value="{{ kegiatan.referensi }}" title="{{ kegiatan.referensi }}">
                                                    <label>{{ kegiatan.referensi }}</label>
                                                </div>
                                            </div>
                                            <div class="gap"></div>

                                            {% for i in li %}
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" name="tugas" value="{{ i.nomor }}" title="{{ i.nomor }}">
                                                    <label>{{ i.nomor }} <b style="color: red;">dari</b> {{ i.pemberi.get_full_name }}</label>
                                                </div>
                                            </div>
                                            <div class="gap"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="actions">
                                    <div class="ui deny button">Oke</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gap"></div>
                    <div class="gap"></div>
                    <div class="two fields">
                        <div class="field {% if formulir.butir.errors %}error{% endif %}">
                            {% if formulir.butir.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.butir.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.butir.label_tag }}
                            <input type="hidden" name="angka_hid" id="angka_hid" value="">
                            {% if 'ubah' in request.path %}
                                <script>
                                    $(document).ready(function(){
                                        var angka_selector = $("input#angka_hid");
                                        var butir_selector = $("input#butir");
                                        var keg = $("span#kegiatan").attr('data-value');

                                        $.get('/tugas/'+butir_selector.val()+'/butir/'+keg+'/', function(nilai){
                                            angka_selector.val(nilai['angka']);
                                        });
                                    });
                                </script>
                            {% endif %}
                            <div class="ui action input">
                                {{ formulir.butir }}
                                <a id="tbl_butir" class="ui icon button" title=" Gunakan template ">
                                    <i class="arrow circle outline left icon"></i>
                                </a>
                                <div id="modal_butir" class="ui small modal">
                                    <div class="header">Pilih Butir</div>
                                    <div class="content">
                                        <div class="ui form">
                                            <div class="grouped fields">
                                                <label for="pilih_butir">Butir:</label>
                                                <select id="pilih_butir" class="ui search fluid dropdown">
                                                    <option value="">--- Pilihan Butir ---</option>
                                                    {% for btr in butir %}
                                                    <option value="{{ btr.kodebutir }}">[{{ btr.angka }} - {{ btr.hasil }}] {{ btr.butir }} #{{ btr.pelaksana }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="actions">
                                        <div class="ui deny button">Oke</div>
                                    </div>
                                </div>
                            </div>
                            <div id="label_info" class="ui pointing label"></div>
                        </div>

                        <div class="field {% if formulir.index.errors %}error{% endif %}">
                            {% if formulir.index.errors %}
                                <div class="ui error visible message">
                                    {% for error in formulir.index.errors %}
                                        <div class="header">Ada Kesalahan</div>
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ formulir.index.label_tag }}
                            {{ formulir.index }}
                        </div>
                    </div>

                    <div class="field {% if formulir.isi.errors %}error{% endif %}">
                        {% if formulir.isi.errors %}
                            <div class="ui error visible message">
                                {% for error in formulir.isi.errors %}
                                    <div class="header">Ada Kesalahan</div>
                                    <p>{{ error|escape }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ formulir.isi.label_tag }}
                        {{ formulir.isi }}
                    </div>

                    <input type="submit" class="ui submit primary button" value="Simpan">
                    {% if 'ubah' in request.path %}
                    <a href="{% url 'halaman_li_anggota_rinci' slug=li_tertentu.nomor|slugify pk=li_tertentu.pk keg=pk %}" class="ui icon tiny button" title=" kembali ">
                        <i class="reply icon"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="ui icon tiny button" title=" kembali ">
                        <i class="reply icon"></i>
                    </a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}