{% extends 'master/base.html' %}
{% load staticfiles %}
{% block title %}
Tugas | Aplikasi PERK
{% endblock %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui fluid container">
        <div class="ui three stackable cards">
            <div class="ui raised card">
                <div class="content">
                    <div class="header">Jenis Tugas</div>
                    <div class="meta">
                        <span class="right floated time">2 hari lalu</span>
                        <span class="category">Pemberi tugas</span>
                    </div>

                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
                {% load gravatar %}
                <div class="extra content">
                    <div class="right floated author">
                        <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ email|hash_email }}?d=retro&f=y"> Penerima tugas
                    </div>
                    <a href="" class="ui basic tiny button">Masuk</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<button class="circular ui icon red button muncul" style="position: absolute; bottom: 24px; right: 14px;">
    <i class="icon settings"></i>
</button>
<div class="ui flowing popup top left transition hidden">
    <div class="ui four column center aligned grid">
        <div class="column">
            <h4 class="ui header">LI</h4>
            <p><i>Total:</i> -</p>
            <a class="ui green mini button">Tambah</a>
        </div>

        <div class="column">
            <h4 class="ui header">LK</h4>
            <p><i>Total:</i> -</p>
            <a class="ui green mini button">Tambah</a>
        </div>

        <div class="column">
            <h4 class="ui header">TN</h4>
            <p><i>Total:</i> -</p>
            <a class="ui green mini button">Tambah</a>
        </div>

        <div class="column">
            <h4 class="ui header">LB</h4>
            <p><i>Total:</i> -</p>
            <a class="ui green mini button">Tambah</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("button.muncul").popup({
            inline: true,
            on: 'click'
        });
    });
</script>
{% endblock %}