{% extends 'master/cetak.html' %}
{% load staticfiles %}
{% load peran_terkait %}

{% block title %}
    Cetak Laporan
{% endblock %}

{% block style %}
<style>
    @page:first
    {
        @top-center {
            content: 'lalala';
        }
    }
</style>
{% endblock %}

{% block content %}
<table class="ui celled structured compact table">
    <tbody>
        <tr>
            <td rowspan="4" class="center aligned">
                <img src="{% static 'logo_bppt.png' %}" alt="logo BPPT" class="ui centered tiny image">
            </td>
            <td class="center aligned">
                <h2 class="ui brown header">{{ li.nama|upper }}</h2>
            </td>
            <td colspan="2">
                {{ li.pemberi|ambil_peran_tertentu:'long' }}
            </td>
        </tr>

        <tr>
            <td rowspan="2" class="center aligned">
                <h3 class="ui header">
                    <div class="sub header">Program</div>
                    {{ kegiatan.nama }}
                </h3>
            </td>
            <td style="font-size: 0.8em;">No.</td>
            <td style="word-break: break-all; font-size: 0.8em;">{{ li.nomor }}</td>
        </tr>

        <tr>
            <td style="font-size: 0.8em;">Ref.</td>
            <td style="word-break: break-all; font-size: 0.8em;">{{ li.referensi }}</td>
        </tr>

        <tr>
            <td>
                <h3 class="ui centered header">
                    <div class="sub header">{{ li.pemberi|ambil_peran_tertentu:'wbs_wp' }}</div>
                    {{ li.pemberi|ambil_peran_tertentu:'wbs_wp_nama' }}
                </h3>
            </td>
            <td colspan="2">
                {{ li.tanggal }}
            </td>
        </tr>

        <tr>
            <td colspan="4">
               No. Butir Kegiatan: {{ li.butir }}
            </td>
        </tr>
    </tbody>
</table>
<p>
    {{ li.isi|safe }}
</p>
<table class="ui celled structured compact table">
    <tr>
        <td colspan="2">Dari:</td>
        <td colspan="2">Kepada:</td>
    </tr>

    <tr>
        <td>Nama</td>
        <td>
            {{ li.pemberi.get_full_name }}
        </td>

        <td>Nama</td>
        <td>
            {{ li.penerima.get_full_name }}
        </td>
    </tr>

    <tr>
        <td>Peran</td>
        <td>
            {{ li.pemberi|ambil_peran_tertentu:'long' }}
        </td>

        <td>Peran</td>
        <td>
            {{ li.penerima|ambil_peran_tertentu:'long' }}
        </td>
    </tr>

    <tr>
        <td>Ttd</td>
        <td>
            <br><br><br>
        </td>

        <td>Ttd</td>
        <td>
            <br><br><br>
        </td>
    </tr>
</table>
{% endblock %}