{% extends 'master/base.html' %}
{% load staticfiles %}
{% load gravatar %}

{% block title %}
Tugas | Aplikasi PERK
{% endblock %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui fluid container">
        {% block kontainer %}
        <div class="gap"></div>
        <h2 class="ui center aligned icon header">
            <i class="circular calendar icon"></i>
            PENUGASAN
        </h2>

        <div id="filter_personil" class="ui labeled icon top left pointing scrolling dropdown button">
            <i class="filter icon"></i>
            <span class="text">Filter Penugasan</span>

            <div class="menu">
                <div class="ui search icon input">
                    <i class="search icon"></i>
                    <input name="search" placeholder="Nama personil..." type="text">
                </div>
                <div class="divider"></div>

                <div class="header">
                    <span id="kgtn_kd" data-value="{{ pk }}"></span>
                    <i class="tags icon"></i>
                    Filter penerima tugas
                </div>

                <div class="item">
                    <img class="ui avatar image" src="https://www.gravatar.com/avatar/0?d=retro&f=y" data-value="">
                    Semua Personil
                </div>
                {% for prsn in personil %}
                <div class="item">
                    <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ prsn.email|hash_email }}?d=retro&f=y" data-value="{{ prsn.username }}">
                    {{ prsn.get_full_name }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="gap"></div>

        <span id="url_ori" data-value="{% url 'halaman_tugas_anggota' pk=pk %}"></span>
        <span id="url_fltr" data-value="{{ request.path }}"></span>
        <div class="ui four stackable cards">
            {% for ins in instruksi %}
            <div class="ui raised card">
                <div class="content">
                    <div class="header">{{ ins.nama }}</div>
                    <div class="meta">
                        <span class="right floated time">{{ ins.tanggal }}</span>
                        <span class="category">{{ ins.pemberi.first_name|default:ins.pemberi.username }}</span>
                    </div>

                    <div class="description">
                        <div class="ui list">
                            <div class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Nomor</div>
                                    <div class="description" style="word-break: break-all;">
                                        {{ ins.nomor }}
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Referensi</div>
                                    <div class="description" style="word-break: break-all;">
                                        {{ ins.referensi }}
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <i class="right triangle icon"></i>
                                <div class="content">
                                    <div class="header">Butir</div>
                                    <div class="description">
                                        {{ ins.butir }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="author">
                        <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ ins.penerima.email|hash_email }}?d=retro&f=y"> {{ ins.penerima.first_name|default:ins.penerima.username }}
                    </div>
                    <a href="{% url 'halaman_tugas_anggota_rinci' slug=ins.nomor|slugify pk=ins.pk keg=pk%}" class="ui orange right ribbon label">Masuk</a>
                    <div class="gap"></div>
                </div>
            </div>
            {% empty %}
            <div class="ui card" style="width: 100%;">
                <div class="ui message">
                    <div class="header">
                        NIHIL
                    </div>
                    <p>
                        Lembar instruksi masih kosong
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="gap"></div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui pagination menu" style="padding-left: 0; padding-right: 0; {% if page_range|length < 2 %}display: none;{% endif %}">
                    {% if instruksi.has_previous %}
                        <a href="?halaman={{ instruksi.previous_page_number }}" class="item"><i class="chevron left fitted icon" style="margin-right: 0;"></i></a>
                    {% endif %}

                    {% if page_range|length != 1 %}
                        {% for pg in page_range %}
                            {% if instruksi.number == pg %}
                                <a href="?halaman={{ pg }}" class="active item">{{ pg }}</a>
                            {% else %}
                                <a href="?halaman={{ pg }}" class="item">{{ pg }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if instruksi.has_next %}
                        <a href="?halaman={{ instruksi.next_page_number }}" class="item"><i class="chevron right fitted icon" style="margin-right: 0;"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    var ori = $("span#url_ori").attr('data-value');
    var fltr = $("span#url_fltr").attr('data-value');

    if( ori != fltr)
    {
        var url = '/tugas/'+fltr.substr(fltr.lastIndexOf('/')+1)+'/anggota/';
        $.get(url, function(val){
            var tmp = '<img class="ui avatar image" src="https://www.gravatar.com/avatar/'+ val[0]['hash'] +'?d=retro&amp;f=y" data-value="'+ val[0]['username'] +'">';
            tmp += val[0]['full_name'];

            $("div#filter_personil span.text").empty().append(tmp);
        });
    }

    $("div#filter_personil").dropdown({
        fullTextSearch: 'exact',
        onChange: function(){
            var ab = $("img.avatar.image").attr('data-value');

            window.location.href = '/tugas/'+$("span#kgtn_kd").attr('data-value')+'/anggota/'+ab;
        }
    });
});
</script>
{% endblock %}

{% if '/tugas/' in request.path %}
    {% block menu_tombol %}
    <div class="ui simple dropdown item">
        TUGAS
        <i class="tasks icon"></i>
        <div class="menu">
            <a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="item"><i class="star icon"></i>PENUGASAN</a>
            <a class="item"><i class="list icon"></i>DOKUMEN</a>
        </div>
    </div>
    {% endblock %}

    {% block menu_tombol_mobile %}
        <div class="item">
            <i class="left dropdown icon"></i>
            Tugas
            <div class="menu" style="left: -100px !important;">
                <a class="item"><i class="plus icon"></i>Lembar Instruksi <div class="ui red horizontal label">{{ instruksi|length }}</div></a>
                <a class="item"><i class="plus icon"></i>Lembar Kerja <div class="ui red horizontal label">{{ kerja|length }}</div></a>
                <a class="item"><i class="plus chart icon"></i>Technical Note <div class="ui red horizontal label">-</div></a>
                <a class="item"><i class="plus outline icon"></i>Logbook <div class="ui red horizontal label">-</div></a>
            </div>
        </div>
    {% endblock %}
{% endif %}