{% extends 'tugas/halaman_cetak_li_lembaran.html' %}
{% load peran_terkait %}

{% block warna_header %}blue{% endblock %}

{% block penerima_lk %}{{ lmbr.penerima|ambil_peran_tertentu:'long' }}{% endblock %}

{% block diperiksa %}Diperiksa:{% endblock %}

{% block dari %}{{ lmbr.penerima.get_full_name }}{% endblock %}

{% block pemeriksa %}{{ lmbr.pemberi.get_full_name }}{% endblock %}

{% block peran_dari %}{{ lmbr.penerima|ambil_peran_tertentu:'long' }}{% endblock %}

{% block peran_pemeriksa %}{{ lmbr.pemberi|ambil_peran_tertentu:'long' }}{% endblock %}
