{% extends 'master/cetak.html' %}
{% load staticfiles %}
{% load peran_terkait %}

{% block title %}
    Dibuat dengan Aplikasi Fungsional Perekayasa BBTA3 BPPT | PERK
{% endblock %}

{% block style %}
<style>
    /**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 0 auto;
{#  padding-top: 64px;#}
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
{#  right: 0;#}
    margin: 0 auto;
  bottom: 0;
    max-width: 640px;
  width: 94%;
    z-index: -1;
{#  left: 0;#}
{#  padding: 1rem;#}
{#  background-color: #efefef;#}
}
</style>
{% endblock %}

{% block container %}
<div class="demo">
    <table class="ui celled structured compact table">
        <tbody>
            <tr>
                <td rowspan="2" class="center aligned">
                    <img src="{% static 'logo_bppt.png' %}" alt="logo BPPT" class="ui centered tiny image">
                </td>
                <td class="center aligned">
                    <h2 class="ui {% block warna_header %}violet{% endblock %} header">{{ keputusan.nama|upper }}</h2>
                </td>
                <td>
                    No.: {{ keputusan.nomor }}
                </td>
            </tr>

            <tr>
                <td class="center aligned">
                    {{ keputusan.kegiatan.nama }}
                </td>
                <td>
                    Tgl.: {{ keputusan.tanggal|date:'d F Y' }}
                </td>
            </tr>
        </tbody>
    </table>
    {{ keputusan.isi|safe }}
</div>

<div class="footer">
    <table class="ui celled structured compact table">
        <tbody>
            <tr>
                <td colspan="2">
                    Tingkatan Rapat: {{ keputusan.tingkatan }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Pimpinan Rapat:
                </td>
            </tr>
            <tr>
                <td>
                    Nama
                </td>
                <td>
                    {{ keputusan.pemberi.get_full_name }}
                </td>
            </tr>
            <tr>
                <td>
                    Peran
                </td>
                <td>
                    {{ peran|ambil_peran_tertentu:'long' }}
                </td>
            </tr>
            <tr>
                <td>
                    Jobcode
                </td>
                <td>
                    {{ peran|ambil_peran_tertentu:'short' }}
                </td>
            </tr>
            <tr>
                <td>
                    Tanda tangan
                </td>
                <td><br><br></td>
                <td>
                    Daftar Hadir Terlampir
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}