{% extends 'master/tugas.html' %}
{% load staticfiles %}
{% load gravatar %}
{% load peran_terkait %}

{% block title %}
Lembar Keputusan | Aplikasi PERK
{% endblock %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui fluid container">
        {% block breadcrumb %}
        <div class="ui breadcrumb">
            {% block ruas_satu %}
                <a href="{% url 'halaman_utama' %}" class="section"><i class="ui home icon"></i> Kegiatan</a>
                <i class="right chevron icon divider"></i>
            {% endblock %}

            {% block ruas_dua %}
                <div class="active section">Keputusan</div>
            {% endblock %}

            {% block ruas_tiga %}
            {% endblock %}

            {% block ruas_empat %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block kontainer %}

        <a href="{% url 'halaman_tambah_keputusan' slug=kegiatan.nama|slugify pk=kegiatan.pk %}" class="ui compact labeled icon right floated green button">
            <i class="plus icon"></i>
            Tambah
        </a>

        <div class="gap"></div>
        <div class="gap"></div>
        <table class="ui selectable single line definition table">
            <thead>
            <tr>
                <th></th>
                <th>Tanggal</th>
                <th>Nomor</th>
                <th>Tingkatan</th>
                <th>Pimpinan</th>
                <th class="center aligned">Opsi</th>
            </tr>
            </thead>

            <tbody>
            {% for kep in keputusan %}
            <tr>
                <td class="center aligned">
                    <a href="{% url 'halaman_rincian_keputusan' slug=kegiatan.nama|slugify pk_kegiatan=kegiatan.pk pk=kep.pk %}" class="ui icon tiny primary button" title=" Lihat ">
                        <i class="unhide icon"></i>
                    </a>
                </td>
                <td>{{ kep.tanggal|date:'d F Y' }}</td>
                <td>{{ kep.nomor }}</td>
                <td>{{ kep.tingkatan }}</td>
                <td>{{ kep.pemberi.get_full_name }}</td>
                <td class="center aligned">
                    <a href="" class="ui icon tiny secondary button" title=" Ubah ">
                        <i class="pencil icon"></i>
                    </a>
                    <a href="" class="ui icon tiny tertiary button" title=" Duplikat ">
                        <i class="clone icon"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="gap"></div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui pagination menu" style="{% if not is_paginated %}display: none;{% endif %}">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <a href="?halaman={{ page_obj.previous_page_number }}" class="item"><i class="chevron left fitted icon" style="margin-right: 0;"></i></a>
                        {% endif %}

                        {% if paginator.page_range|length != 1 %}
                            {% for pg in paginator.page_range%}
                                {% if keputusan.number == pg %}
                                    <a href="?halaman={{ pg }}" class="active item">{{ pg }}</a>
                                {% else %}
                                    <a href="?halaman={{ pg }}" class="item">{{ pg }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if page_obj.has_next %}
                            <a href="?halaman={{ page_obj.next_page_number }}" class="item"><i class="chevron right fitted icon" style="margin-right: 0;"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}