{% extends 'master/base.html' %}
{% load staticfiles %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui three stackable cards">
        <div class="ui card">
            <div class="content">
                <div class="header">Nama kegiatan</div>
                <div class="meta">Tanggal kegiatan</div>
                <div class="description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur culpa, cum
                        dolores eius enim error, facere illo magni non numquam omnis placeat quae quas quibusdam,
                        quidem recusandae vero voluptates.
                    </p>
                    <p>
                        Many people also have their own barometers for what makes a cute dog.
                    </p>
                </div>
            </div>
            <div class="extra content">
                <div class="two ui buttons">
                    <a class="ui instagram button">
                        <i class="share fitted icon"></i>
                        Masuk
                    </a>
                    <a class="ui google plus button">
                        <i class="pencil fitted icon"></i>
                        Ubah
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}