{% extends 'master/base.html' %}
{% load staticfiles %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui fluid container">
        {% if request.user.is_superuser %}
        <a href="{% url 'halaman_tambah_personil' pk=kegiatan.pk %}" class="ui primary button">
            Personil baru
        </a>
        {% endif %}

        <div class="gap"></div>
        <div class="ui four stackable cards">
            {% for prsn in personil %}
            <div class="card">
                <div class="content">
                    <div class="header">{{ prsn.orang.first_name }} {{ prsn.orang.last_name }}</div>
                    <div class="meta">{{ prsn.peran }} {{ prsn.wbs_wp_kode }}.{{ prsn.peran_kode }}</div>
                    <div class="description">
                        {{ prsn.wbs_wp_pilihan }} {{ prsn.wbs_wp_kode }} {{ prsn.wbs_wp_nama }}
                    </div>
                </div>
                 <a class="ui bottom attached button">
                     <i class="pencil fitted icon"></i>
                     Ubah
                 </a>
            </div>
            {% empty %}
            <div class="card">
                <div class="content">
                    <div class="header">NIHIL</div>
                    <div class="description">
                        Silahkan tambah personil kedalam kegiatan.
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}