{% extends 'master/base.html' %}
{% load staticfiles %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui fluid container">
        <div class="ui stackable three column grid">
        {% for kat in kategori %}
            <div class="column">
                <div class="ui segment">
                    <div class="ui middle aligned list">
                        <div class="item">
                            <div class="right floated content">
                                <a href="" title="Ubah" class="ui basic icon button">
                                    <i class="pencil icon"></i>
                                </a>
                            </div>
                            <div class="content" style="position: absolute; top: 36%;">
                                <a href="{% url 'halaman_kegiatan_kategori' slug=kat.slug pk=kat.pk %}">
                                    {{ kat.nama }}
                                </a>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="column" style="width: 100%;">
                <div class="ui message">
                    <div class="header">
                        Kategori Nihil
                    </div>
                    <p>
                        Kategori tidak ada, silahkan tambah kategori di tautan yang diberikan.
                    </p>
                </div>
            </div>
        {% endfor %}

            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui pagination menu" style="padding-left: 0; padding-right: 0; {% if page_range|length < 2 %}display: none;{% endif %}">
                        {% if kategori.has_previous %}
                            <a href="?halaman={{ kategori.previous_page_number }}" class="item"><i class="chevron left fitted icon" style="margin-right: 0;"></i></a>
                        {% endif %}

                        {% if page_range|length != 1 %}
                            {% for pg in page_range %}
                                {% if kategori.number == pg %}
                                    <a href="?halaman={{ pg }}" class="active item">{{ pg }}</a>
                                {% else %}
                                    <a href="?halaman={{ pg }}" class="item">{{ pg }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if kategori.has_next %}
                            <a href="?halaman={{ kategori.next_page_number }}" class="item"><i class="chevron right fitted icon" style="margin-right: 0;"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}