{% extends 'master/base.html' %}
{% load staticfiles %}
{% load kategori_terkait %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui three stackable cards">
        {% for keg in kegiatan %}
        <div class="ui card">
            <div class="content">
                <div class="ui icon top left pointing right floated little_menu dropdown basic button">
                    <i class="unordered list icon"></i>
                    <div class="menu">
                        <div class="header">Aturan</div>
                        <a href="{% url 'halaman_personil' pk=keg.pk %}" class="item"><i class="users icon"></i>Personil</a>
                        <a href="{% url 'halaman_format' pk=keg.pk %}" class="item"><i class="options icon"></i>Format</a>
                        <a href="{% url 'halaman_ubah_kegiatan' slug=keg.slug pk=keg.pk %}" class="item"><i class="write icon"></i>Ubah</a>
                    </div>
                </div>
                <div class="header">{{ keg.nama }}</div>
                <div class="meta">{{ keg.kapan_dibuat }}</div>
                <div class="description">
                    <div class="ui list">
                        <div class="item">
                            <div class="header">Kode</div>
                            {{ keg.kode }}
                        </div>

                        <div class="item">
                            <div class="header">Referensi</div>
                            {{ keg.referensi }}
                        </div>

                        <div class="item">
                            <div class="header">Kategori</div>
                            {% for kat in keg.pk|ambil_kategori_tertentu %}
                                {% if keg.pk|ambil_kategori_tertentu|length == 1 %}
                                    <a href="{% url 'halaman_kegiatan_kategori' slug=kat.slug pk=kat.pk %}">#{{ kat.nama }}</a>
                                {% else %}
                                    {% if forloop.first %}
                                        <a href="{% url 'halaman_kegiatan_kategori' slug=kat.slug pk=kat.pk %}">#{{ kat.nama }}</a>,
                                    {% elif forloop.last %}
                                        <a href="{% url 'halaman_kegiatan_kategori' slug=kat.slug pk=kat.pk %}">#{{ kat.nama }}</a>
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                                NIHIL
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <div class="two ui buttons">
                    <a class="ui instagram button">
                        <i class="share fitted icon"></i>
                        Masuk
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="ui card" style="width: 100%;">
            <div class="ui message">
                <div class="header">
                    Kegiatan Nihil
                </div>
                <p>
                    Kegiatan tidak ada, silahkan tambah kegiatan di tautan yang diberikan.
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="gap"></div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui pagination menu" style="padding-left: 0; padding-right: 0; {% if page_range|length < 2 %}display: none;{% endif %}">
                {% if kegiatan.has_previous %}
                    <a href="?halaman={{ kegiatan.previous_page_number }}" class="item"><i class="chevron left fitted icon" style="margin-right: 0;"></i></a>
                {% endif %}

                {% if page_range|length != 1 %}
                    {% for pg in page_range %}
                        {% if kegiatan.number == pg %}
                            <a href="?halaman={{ pg }}" class="active item">{{ pg }}</a>
                        {% else %}
                            <a href="?halaman={{ pg }}" class="item">{{ pg }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if kegiatan.has_next %}
                    <a href="?halaman={{ kegiatan.next_page_number }}" class="item"><i class="chevron right fitted icon" style="margin-right: 0;"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}