{% extends 'master/base.html' %}
{% load staticfiles %}
{% block style %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $("select#select_wbs_wp, select#select_peran, select#select_orang").dropdown({
                placeholder: true
            });
        });
    </script>
{% endblock %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui fluid container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <h2 class="ui top attached header">
                    <i class="save icon"></i>
                    <div class="content">
                        {% block judul_formulir %}
                            Rekam Data Personil
                        {% endblock %}
                    </div>
                </h2>
                <div class="ui attached segment">
                    {% block formulir %}
                    {% if '/ubah/' in request.path and request.user.is_authenticated %}
                    <a id="hapus_kegiatan" class="ui icon red button" title=" Hapus kegiatan " style="position: absolute;top: -47px;right: 10px;" data-value="/kegiatan/{{ kegiatan.slug }}-{{ kegiatan.pk }}/hapus/">
                        <i class="trash icon"></i>
                    </a>
                    <div id="modal_hapus_kegiatan" class="ui small modal">
                        <div class="header">Anda yakin?</div>
                        <div class="content">
                            <p>Sekali dihapus, maka tidak dapat dikembalikan.</p>
                        </div>

                        <div class="actions">
                            <div class="ui positive button">Ya</div>
                            <div class="ui deny button">Batal</div>
                        </div>
                    </div>
                    {% endif %}
                    <form class="ui form" method="post">
                        {% csrf_token %}
                        <h4 class="ui dividing header">Informasi WBS/WP</h4>
                        <div class="two fields">
                            <div class="field">
                                <div class="two fields">
                                    <div class="field">
                                        {% if formulir.wbs_wp_pilihan.errors %}
                                            <div class="ui error visible message">
                                                {% for error in formulir.wbs_wp_pilihan.errors %}
                                                    <div class="header">Ada Kesalahan</div>
                                                    <p>{{ error|escape }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        {{ formulir.wbs_wp_pilihan.label_tag }}
                                        {{ formulir.wbs_wp_pilihan }}
                                    </div>

                                    <div class="field">
                                        {% if formulir.wbs_wp_kode.errors %}
                                            <div class="ui error visible message">
                                                {% for error in formulir.wbs_wp_kode.errors %}
                                                    <div class="header">Ada Kesalahan</div>
                                                    <p>{{ error|escape }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        {{ formulir.wbs_wp_kode.label_tag }}
                                        {{ formulir.wbs_wp_kode }}
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                {% if formulir.wbs_wp_nama.errors %}
                                    <div class="ui error visible message">
                                        {% for error in formulir.wbs_wp_nama.errors %}
                                            <div class="header">Ada Kesalahan</div>
                                            <p>{{ error|escape }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ formulir.wbs_wp_nama.label_tag }}
                                {{ formulir.wbs_wp_nama }}
                            </div>
                        </div>

                        <h4 class="ui dividing header">Informasi Peran & Pendukung</h4>
                        <div class="two fields">
                            <div class="field">
                                {% if formulir.peran.errors %}
                                    <div class="ui error visible message">
                                        {% for error in formulir.peran.errors %}
                                            <div class="header">Ada Kesalahan</div>
                                            <p>{{ error|escape }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ formulir.peran.label_tag }}
                                {{ formulir.peran }}
                            </div>
                            <div class="field">
                                {% if formulir.peran_kode.errors %}
                                    <div class="ui error visible message">
                                        {% for error in formulir.peran_kode.errors %}
                                            <div class="header">Ada Kesalahan</div>
                                            <p>{{ error|escape }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ formulir.peran_kode.label_tag }}
                                {{ formulir.peran_kode }}
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                {% if formulir.orang.errors %}
                                    <div class="ui error visible message">
                                        {% for error in formulir.orang.errors %}
                                            <div class="header">Ada Kesalahan</div>
                                            <p>{{ error|escape }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ formulir.orang.label_tag }}
                                {{ formulir.orang }}
                            </div>
                            <div class="field">
                                {% if formulir.index.errors %}
                                    <div class="ui error visible message">
                                        {% for error in formulir.index.errors %}
                                            <div class="header">Ada Kesalahan</div>
                                            <p>{{ error|escape }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ formulir.index.label_tag }}
                                {{ formulir.index }}
                            </div>
                        </div>

                        <input type="submit" class="ui primary submit button" value="Simpan">
                        <a id="tbl_kembali" href="{% url 'halaman_personil' pk=kegiatan.pk %}" class="ui submit button">Kembali</a>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}