{% extends 'master/base.html' %}
{% load staticfiles %}

{% block grafik %}

    <div class="ui fluid container">
        <div class="gap"></div>

        <table class="ui celled striped table">
            <thead>
            <tr>
                <th colspan="4">
                {% if request.user.is_superuser %}
                    <a href="{% url 'halaman_tambah_personil' pk=kegiatan.pk %}" class="ui primary button">
                        Personil baru
                    </a>
                {% else %}
                    Susunan Personil Kegiatan
                {% endif %}
                </th>
            </tr>
            </thead>

            <tbody>
            {% for prsn in personil %}
            <tr>
                <td class="collapsing">
                    {{ forloop.counter }}. {{ prsn.orang.first_name }} {{ prsn.orang.last_name }}
                </td>
                <td>{{ prsn.peran }} {{ prsn.wbs_wp_kode }}.{{ prsn.peran_kode }}</td>
                <td>{{ prsn.wbs_wp_pilihan }} {{ prsn.wbs_wp_kode }} {{ prsn.wbs_wp_nama }}</td>
                <td class="right aligned collapsing">
                    <a href="{% url 'halaman_ubah_personil' pk=kegiatan.pk pk_personil=prsn.pk %}" class="ui icon button">
                        <i class="pencil fitted icon"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="collapsing">
                    -
                </td>
                <td>-</td>
                <td>-</td>
                <td class="right aligned collapsing">-</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}

{% endblock %}