{% extends 'master/base.html' %}

{% block grafik %}
    <div class="gap"></div>
    <div class="ui fluid container">
        {% block breadcrumb %}
        <div class="ui breadcrumb">
            {% block ruas_satu %}
                <a href="{% url 'halaman_utama' %}" class="section"><i class="ui home icon"></i> Kegiatan</a>
                <i class="right chevron icon divider"></i>
            {% endblock %}

            {% block ruas_dua %}
                <div class="active section">Tugas</div>
            {% endblock %}

            {% block ruas_tiga %}
            {% endblock %}

            {% block ruas_empat %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block kontainer %}{% endblock %}
    </div>
{% endblock %}

{% if '/tugas/' in request.path %}
    {% block menu_tombol %}
    <div class="ui simple dropdown item">
        TUGAS
        <i class="tasks icon"></i>
        <div class="menu">
            <a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="item"><i class="star icon"></i>PENUGASAN</a>
            <a href="{% url 'halaman_keputusan' slug=kegiatan.nama|slugify pk=kegiatan.pk %}" class="item"><i class="list icon"></i>KEPUTUSAN</a>
        </div>
    </div>
    {% endblock %}

    {% block menu_tombol_mobile %}
        <div class="item">
            <i class="left dropdown icon"></i>
            Tugas
            <div class="menu" style="left: -100px !important;">
                <a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="item"><i class="star icon"></i>PENUGASAN</a>
                <a href="{% url 'halaman_keputusan' slug=kegiatan.nama|slugify pk=kegiatan.pk %}" class="item"><i class="list icon"></i>KEPUTUSAN</a>
            </div>
        </div>
    {% endblock %}
{% endif %}