{% extends 'master/base.html' %}

{% if '/tugas/' in request.path %}
    {% block menu_tombol %}
    <div class="ui simple dropdown item">
        TUGAS
        <i class="tasks icon"></i>
        <div class="menu">
            <a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="item"><i class="star icon"></i>PENUGASAN</a>
            <a href="{% url 'halaman_keputusan' slug=kegiatan.nama|slugify pk=kegiatan.pk %}" class="item"><i class="list icon"></i>KEPUTUSAN</a>
        </div>
    </div>
    {% endblock %}

    {% block menu_tombol_mobile %}
        <div class="item">
            <i class="left dropdown icon"></i>
            Tugas
            <div class="menu" style="left: -100px !important;">
                <a href="{% url 'halaman_tugas_anggota' pk=pk %}" class="item"><i class="star icon"></i>PENUGASAN</a>
                <a href="{% url 'halaman_keputusan' slug=kegiatan.nama|slugify pk=kegiatan.pk %}" class="item"><i class="list icon"></i>KEPUTUSAN</a>
            </div>
        </div>
    {% endblock %}
{% endif %}